.list {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    height: 100px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.tagIcon {
    margin-right: 10px;
}

.itemContent {
    display: flex;
    align-items: center;
}

.icon {
    margin: 10px;
}

.label {
    font-size: 20px;
}

.deleteIcon {
    margin-left: 10px;
    cursor: pointer;
}